/*  Colores logo para la pagina
    casiNegro   #2F2F3C
    blanco      #F7F7F7
    naranja     #FF6600
*/
$color-principal: #FF6600;
$color-secundario: #2F2F3C;
$color-base: #F7F7F7;
$color-detalles: blueviolet;